<div class="d-flex justify-content-center">
    <div class="intro d-flex flex-column align-items-center">
        <i class="bi bi-chat-dots"></i>
        <h2>Say something</h2>
    </div>
</div>
<div class="chat-box d-flex justify-content-between">
    <div class="chat">
        <ul class="messages">
            <% @messages.each do |message| %>
            <li class="message"> <em> <%= message.user.username %>:</em> <%= message.body %></li>
            <% end %>
        </ul>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter a message" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="btn btn-primary" id="basic-addon2" type="submit"><i class="bi bi-send"></i></button>
        </div>
    </div>



    <div class="online">
        <ul class="list-group bg-dark" data-bs-theme="dark">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
</div>